.navbar-default{
  
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
  width:80%;
  margin:0 auto;
  overflow:hidden;
  
  
}
.navbar{
	border:0px;
	background:rgba(255,255,255,1);
	position: absolute;
    top:0px;
    z-index:10;
    width:100%;
	border-radius:0px;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
}
.navbar-toggle {
    z-index:3;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: rgba(0, 107, 178, 0.75);
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: rgba(0, 153, 255, 0.75);
}


.navbar-default .navbar-nav>li>a {
    color: #000;
}
/*Main CSS*/
html, body {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	height: 100vh;
	margin: 0;
}

#particles{height:90vh}
	
#container {
  position: relative;
}
#navi,
#infoi {
	overflow: hidden;
	margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 10vh;
  left: 0;
}
#infoi {
  top: 150px;
  z-index: 10;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
ul li a.disabled:hover{
	background-color:transparent !important;
	color:#59b2e0 !important;
}
